﻿@model SearchViewModel

@{
    ViewData["Title"] = "Search Results";
    ViewData["CurrentPage"] = "Search";
}

<div class="content-header">
    <h2>@ViewData["Title"] for @Model.Query</h2>
    <hr />
</div>

<p>This search on the entiry site for information or clubs and players.</p>

<h2>Clubs Results</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clubs.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clubs.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clubs.FirstOrDefault().Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clubs.FirstOrDefault().ModifiedDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clubs)
        {
            <tr>
                <td>
                    <a asp-controller="Club" asp-action="Details" asp-route-id="@item.ClubID" class="not-btn">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    <a asp-controller="Club" asp-action="Details" asp-route-id="@item.ClubID" class="not-btn">
                        @Html.DisplayFor(modelItem => item.Description)
                    </a>
                </td>
                <td>
                    <a asp-controller="Club" asp-action="Details" asp-route-id="@item.ClubID" class="not-btn">
                        @Html.DisplayFor(modelItem => item.Address)
                    </a>
                </td>
                <td>
                    <a asp-controller="Club" asp-action="Details" asp-route-id="@item.ClubID" class="not-btn">
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Players Results</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Players.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players.FirstOrDefault().Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players.FirstOrDefault().Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players.FirstOrDefault().Club)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Players.FirstOrDefault().ModifiedDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Players)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Club.Name)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
            </tr>
        }
    </tbody>
</table>
