﻿@model IEnumerable<Club>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.Identity.Name == "Admin")
                {

                    <th class="th-controls"></th>

                }

            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-controller="Club" asp-action="Details" asp-route-id="@item.ClubID" class="not-btn">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                <a asp-controller="Club" asp-action="Details" asp-route-id="@item.ClubID" class="not-btn">
                    @Html.DisplayFor(modelItem => item.Description)
                </a>
            </td>
            <td>
                <a asp-controller="Club" asp-action="Details" asp-route-id="@item.ClubID" class="not-btn">
                    @Html.DisplayFor(modelItem => item.Address)
                </a>
            </td>
            <td>
                <a asp-controller="Club" asp-action="Details" asp-route-id="@item.ClubID" class="not-btn">
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </a>
            </td>
            @if (User.Identity.IsAuthenticated)
            {

                if (User.Identity.Name == "Admin")
                {
                    <td>
                        <form asp-controller="Club" asp-action="Delete" method="post">
                            <a asp-controller="Club" asp-action="Edit" asp-route-id="@item.ClubID">Edit</a> |
                            <input type="hidden" name="id" value="@item.ClubID" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                Delete
                            </button>
                        </form>
                    </td>

                }


            }

        </tr>
        }
    </tbody>
</table>
