﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Club Soccer App - By Eduardo Santana to Centennial College</title>
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="header">
            <h1>Club Soccer App</h1>
        </div>
        <div class="left">
            <div class="vertical-menu">

                @RenderSection("SearchBar", required: false)

                <a asp-controller="Home" asp-action="Index" class="@(ViewData["CurrentPage"]=="Home" ? "selected": "")">Home</a>
                <a asp-controller="Club" asp-action="Index" class="@(ViewData["CurrentPage"]=="Club" ? "selected": "")">Clubs Page</a>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.Identity.Name == "Admin")
                    {
                        <a asp-controller="Club" asp-action="Create" class="@(ViewData["CurrentPage"]=="ClubCreate" ? "selected": "")">Add Club</a>
                    }
                    <a asp-controller="Player" asp-action="Create" class="@(ViewData["CurrentPage"]=="PlayerCreate" ? "selected": "")">Register Player</a>
                    <a asp-controller="Statistic" asp-action="Index" class="@(ViewData["CurrentPage"]=="Statistic" ? "selected": "")">Statistic</a>
                    <a asp-action="Logout" asp-controller="Account">Log Out</a>
                }
                else
                {
                    <a asp-action="Login" asp-controller="Account">Log In</a>
                }
            </div>
        </div>
        <div class="right">
            <div class="render-body">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success mt-1">@TempData["message"]</div>
                }
                @if (User.Identity.IsAuthenticated && ViewData["CurrentPage"] != "Statistic")
                {
                    <form asp-controller="Search" class="search-form" asp-action="Index">
                        <input type="hidden" name="Screen" value="@ViewData["CurrentPage"]" />
                        <label class="search-label">Search</label>
                        <input class="form-control" type="text" name="Query">
                        <button class="search-btn">
                            <img class="search-img" src="~/images/bg/loupe.png" />
                        </button>
                    </form>
                    <div style="clear:both;"></div>
                }
                @RenderBody()
            </div>
        </div>
        <div class="footer">
            <p>&copy; 2019 - Club Soccer App - By Eduardo Santana to Centennial College </p>
            @if (User.Identity.IsAuthenticated)
            {
                <p>Welcome to Club Soccer @User.Identity.Name User</p>
            }
        </div>
    </div>
    
</body>
</html>
