﻿@model IEnumerable<Player>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            @if (ViewData["CurrentPage"] == "Player")
            {
                <th>
                    @Html.DisplayNameFor(model => model.Club)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            @if (ViewData["CurrentPage"] == "Player" || ViewData["CurrentPageAction"] == "Edit")
            {
                if (User.Identity.IsAuthenticated)
                {
                    if (User.Identity.Name == "Admin")
                    {

                    <th class="th-controls2"></th>
                    }
                }
            }
            </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            @if (ViewData["CurrentPage"] == "Player")
            {
                <th>
                    @Html.DisplayFor(modelItem => item.Club.Name)
                </th>
            }
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            @if (ViewData["CurrentPage"] == "Player" || ViewData["CurrentPageAction"] == "Edit")
            {

                if (User.Identity.IsAuthenticated)
                {

                    if (User.Identity.Name == "Admin")
                    {
                    <td>

                        <form asp-controller="Player" asp-action="Delete" method="post">
                            <a asp-controller="Player" asp-action="Edit" asp-route-id="@item.PlayerID">Reassigning</a> |
                            <input type="hidden" name="id" value="@item.PlayerID" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                Deregistering
                            </button>
                        </form>

                    </td>
                    }
                }
                
            }
        </tr>
        }
    </tbody>
</table>
