﻿@model Player

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Club)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Club.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Age)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Age)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Address)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ModifiedDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ModifiedDate)
    </dd>
</dl>

