﻿@model StatisticViewModel

@{
    ViewData["Title"] = "Statistic top goal scorers";
    ViewData["CurrentPage"] = "Statistic";
}

<div class="content-header">
    <h2>@ViewData["Title"] @Model.DisplayText</h2>
    <hr />
</div>

<style>
    .player-img {
        margin: 0 10px;
        border: 0;
    }

    .key {
        width: 100%;
        float: left;
        height: auto;
        width: auto;
        margin: 16px 0;
        padding: 0px;
    }

        .key p {
            display: inline-block;
            float: left;
            margin: 0 10px 0 0;
            padding: 0 5px;
            line-height: 25px;
            color: #c1c1c1;
        }

    .tr-img {
        width: 30px;
    }

    .botton-pagination {
        float: right;
        margin-top: 15px;
    }

        .botton-pagination a {
            margin-left: 4px;
        }

        .botton-pagination .btn-primary {
            background-color: #01398f !important;
            border: 1px solid #17457a;
            border-radius: .25rem;
            color: white !important;
        }

        .botton-pagination a {
            border: 1px solid #17457a !important;
        }

    .btn-leyend {
        color:white !important;
    }
</style>

<p>This shows statistic of top goal scorers</p>

<table class="table">
    <thead>
        <tr>
            <th class="tr-img">

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.FirstOrDefault().Player)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.FirstOrDefault().Goals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.FirstOrDefault().FirstHalf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.FirstOrDefault().SecondHalf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.FirstOrDefault().FirstScorer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.FirstOrDefault().LastScorer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.FirstOrDefault().Home)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistics.FirstOrDefault().Away)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Statistics)
        {
            <tr>
                <td>
                    <img class="player-img" src="~/images/bg/player.png" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Player)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Goals)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FirstHalf)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SecondHalf)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FirstScorer)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LastScorer)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Home)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Away)
                </td>
            </tr>
        }
    </tbody>
</table>

<div page-model="@Model.PagingInfo"
     page-action="Index"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-secondary"
     page-class-selected="btn-primary"
     page-url-year="@Model.Year"
     page-url-club="@Model.Club"
     page-url-position="@Model.Position"
     class="btn-group pull-right m-1 botton-pagination">
</div>

<div class="key">
    <p><b>FH</b> = First half,</p>
    <p><b>SH</b> = Second half,</p>
    <p><b>FS</b> = First scorer</p>
    <p><b>LS</b> = Last scorer</p>
    <p><b>H</b> = Home,</p>
    <p><b>A</b> = Away.</p>
</div>

@section SearchBar {
    @await Component.InvokeAsync("NavigationMenu")
}