﻿@model ClubCreateEditViewModel

@{
    ViewData["Title"] = "Add Club Page";
    ViewData["CurrentPage"] = "ClubCreate";
}

<div class="content-header">
    <h2>@ViewData["Title"]</h2>
    <hr />
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.Partial("_ClubCreateEdit", Model)
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Cancel</a>
</div>



  
