﻿@model Club

@{
    ViewData["Title"] = "Club Deleting - " + Model.Name;
    ViewData["CurrentPage"] = "Club";
}

<div class="content-header">
    <h2>@ViewData["Title"]</h2>
    <hr />
</div>

<h3>Are you sure you want to delete this?</h3>

<div>
    @Html.Partial("_ClubDetailsDelete", Model)
    <h4>List of players</h4>
    @Html.Partial("_PlayerList", Model.Players)
    <form asp-action="Delete">
        <input type="hidden" asp-for="ClubID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
