﻿@model Club

@{
    ViewData["Title"] = "Club Details - " + Model.Name;
    ViewData["CurrentPage"] = "Club";
}

<div class="content-header">
    <h2>@ViewData["Title"]</h2>
    <hr />
</div>

<div>
    @Html.Partial("_ClubDetailsDelete", Model)
    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model.ClubID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
<a asp-controller="Player" asp-action="Index" asp-route-id="@Model.ClubID" class="add-new-btn">Manage Players</a>
<h4>List of players</h4>
@Html.Partial("_PlayerList", Model.Players)

