﻿@model ClubCreateEditViewModel

@{
    ViewData["Title"] = "Edit Club - " + Model.Name;
    ViewData["CurrentPage"] = "Club";
    ViewData["CurrentPageAction"] = "Edit";
}

<div class="content-header">
    <h2>@ViewData["Title"]</h2>
    <hr />
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.Partial("_ClubCreateEdit", Model)
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                <a asp-controller="Club" asp-action="Index">Cancel</a>
            </div>
        </form>
        <a asp-controller="Player" asp-action="Create" class="add-new-btn">New Player</a>
        <h4>List of players</h4>
        @Html.Partial("_PlayerList", Model.Players)
    </div>
</div>