﻿@model IEnumerable<Club>

@{
    ViewData["Title"] = "Clubs Page";
    ViewData["CurrentPage"] = "Club";
}

<div class="content-header">
    <h2>@ViewData["Title"]</h2>
    <hr />
</div>

@if (User.Identity.IsAuthenticated)
{
    if (User.Identity.Name == "Admin")
    {
        <p>
            <a asp-action="Create" class="add-new-btn">Create New</a>
        </p>

    }

}

<p>This page is for showing dynamic collection and Manage clubs</p>

@Html.Partial("_ClubList", Model)
