﻿body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 8px #01398f;
    margin: 0;
    background-image: url(/images/bg/bgbody.jpg);
    background-repeat: no-repeat;
    background-color: #808d52;
    /*background-size: cover;*/
    background-position: top;
    background-size: 1920px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 970px;
    height: 100%;
    background-image: url(/images/bg/bgcontainer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

    .container .header {
        text-align: center;
        height: 110px;
        padding-top: 20px;
        width: 100%;
        padding-bottom: 20px;
        background-image: url(/images/bg/bgheader.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 180px;
    }

    .container > div, hr, fieldset {
        border: 1px dashed #3b64b8;
    }

    .container .left {
        width: 200px;
        min-height: 500px;
        float: left;
    }

    .container .right {
        float: right;
        width: 72%;
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
        border: none;
        border-right: 1px dashed #3b64b8;
        margin-right: -2px;
        min-height: 500px;
    }

    .container .footer {
        width: 100%;
        height: 80px;
        clear: both;
        text-align: center;
        padding-top: 15px;
        font-weight: bold;
    }

h1 {
    display: block;
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    text-shadow: 5px 6px 18px #01398f !important;
    font-style: italic;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
}

h3 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
}

form fieldset label {
    width: 200px;
    display: inline-block;
}

input.input {
    width: 250px;
    padding: 3px 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

input.button, button.button, .btn {
    height: calc(2.25rem + 2px);
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding-left: 15px;
    padding-right: 15px;
}

.table {
    border: 1px dashed #3b64b8;
    width: 100%;
}

    .table td, .table th {
        border: 1px dashed #3b64b8;
        padding: 5px;
    }

.add-new-btn {
    float: right;
    margin-bottom: 20px;
}

.vertical-menu {
    width: 200px;
}

    .vertical-menu a {
        color: black; 
        display: block; 
        padding: 12px; 
        text-decoration: none; 
    }

        .vertical-menu a:hover {
            background-color: #235ec0;
            color: white;
        }

        .vertical-menu a.selected {
            background-color: #28548e; 
            color: white;
        }

.form-control {
    display: block;
    padding: .375rem .75rem;
    width: 250px;
    padding: 3px 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

select.form-control {
    width: 271px;
    height: 32px;
}

.render-body {
    margin-left: -13px;
}

.form-group {
    padding-bottom:10px;
    padding-top: 10px;
}

.render-body a {
    height: calc(2.25rem + 2px);
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: initial;
    text-shadow: none;
    display: inline-block;
    font: 400 13.3333px Arial;
    padding-top: 10px;
    padding-bottom: 0px;
    height: 27px;
}

.th-controls {
    width: 23% !important;
}

.not-btn {
    background: none !important;
    border: none !important;
    padding: 0px !important;
    color: white !important;
    font: inherit !important;
    text-shadow: 2px 2px 8px #01398f !important;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-top: 1rem;
    text-shadow: none !important;
}

.field-validation-error {
    color: red !important;
    text-shadow: none !important;
}

.th-controls2 {
    width: 37% !important;
}

.search-form {
    float: right;
    margin-bottom: -44px;
}

    .search-form input, .search-form label, .search-form button {
        float: left;
    }

    .search-form input {
        width: 150px;
    }

    .search-form .search-label {
        width: 55px;
        margin-top: 6px;
        color: #18459e;
    }

    .search-form .search-btn {
        background: transparent;
        border: none;
        width: 30px !important;
    }

    .search-form .search-img {
        width: 30px !important;
    }