﻿@model Player

@{
    ViewData["Title"] = "Player Details - " + Model.Name;
    ViewData["CurrentPage"] = "Player";
}

<div class="content-header">
    <h2>@ViewData["Title"]</h2>
    <hr />
</div>

<div>

    @Html.Partial("_PlayerDetailsDelete", Model)

</div>

<h4>List of Players</h4>

<div class="form-group">
    <a asp-action="Edit" asp-route-id="@Model.PlayerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
