﻿@model PlayerCreateEditViewModel

@{
    ViewData["Title"] = "Reassigning Player - " + Model.Name;
    ViewData["CurrentPage"] = "Player";
}

<div class="content-header">
    <h2>@ViewData["Title"]</h2>
    <hr />
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.Partial("_PlayerCreateEdit", Model)
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Club" asp-action="Index">Cancel</a>
</div>

