﻿@model IEnumerable<Player>

@{
    ViewData["Title"] = "Players Collection";
    ViewData["CurrentPage"] = "Player";
}

<div class="content-header">
    <h2>
        @ViewData["Title"]
        @if (!string.IsNullOrEmpty(Convert.ToString(ViewBag.ClubName)))
        {
            <span>For @ViewBag.ClubName</span>
        }
    </h2>
    <hr />
</div>

@if (User.Identity.IsAuthenticated)
{

    <p>
        <a asp-action="Create" class="add-new-btn">Page For Register Player</a>
    </p>


}

<p>This page is for showing dynamic collection and Manage players</p>

@Html.Partial("_PlayerList", Model)
