﻿
@{
    ViewData["Title"] = "Top 10 Soccer Players In The World";
    ViewData["CurrentPage"] = "Home";
}

<div class="content-header">
    <h2>@ViewData["Title"]</h2>
    <hr />
</div>

<div class="content-body">
    <iframe style="width:100%;" height="415" src="https://www.youtube.com/embed/Hx_Muf86Zxo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>