﻿@model SearchBarViewModel

<a class="btn-block btn-leyend"
   asp-action="Index"
   asp-controller="Statistic">
    SELECT CLUBS
</a>

@foreach (var item in Model.Clubs)
{
    <a class="btn-block
       @(item.ClubID == Model.SelectedClub ? "selected": "btn-secondary")"
       asp-action="Index"
       asp-controller="Statistic"
       asp-route-club="@item.ClubID"
       asp-route-year="@Model.SelectedYear"
       asp-route-position="@Model.SelectedPosition"
       asp-route-page="1">
        @item.Name
    </a>
}

<a class="btn-block btn-leyend"
    asp-action="Index"
    asp-controller="Statistic">
    SELECT POSITIONS
</a>

@foreach (var item in Model.Positions)
{
    <a class="btn-block
       @(item == Model.SelectedPosition ? "selected": "btn-secondary")"
       asp-action="Index"
       asp-controller="Statistic"
       asp-route-club="@Model.SelectedClub"
       asp-route-year="@Model.SelectedYear"
       asp-route-position="@item"
       asp-route-page="1">
        @item
    </a>
}
